@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.blog-author {
padding: 20px;
margin-bottom: 30px;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog-author img {
  width: 120px;
  margin-right: 20px;
}

.blog-author p{
  margin-top: 0px;
}

.blog-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: #012970;
}

.blog-author .social-links {
  margin: 0 10px 1px 0;
}

.blog-author .social-links a {
  color: rgba(1, 41, 112, 0.5);
  margin-right: 5px;
}

.blog-author p {
  font-style: italic;
  color: #4D5656;
}

/* Unique line breaker */
.unique hr{border: none;
border-top: 3px double #333;
color: #333;
overflow: visible;
text-align: center;
height: 5px;
}

.unique hr:after {
background: #fff;
content: '•';
padding: 0 4px;
position: relative;
top: -13px;
}

/* SEO */

/* .seotext p {
  font-style: italic;
  color: #ffffff;
  font-size: 1px;
} */


